body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

h1{
    font-size: 40px;
    
}
h2{
    font-size: 30px;
}

h1,p{
    color: rgb(66, 66, 66);
}

/*----top section---*/
.top-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-half{
    margin-left: 60px;
    padding: 0 30px;
    padding-bottom: 40px;
}

.top-half img{
    width: 93%;
}

#left-border{
    border-left: 3px solid indigo;
    line-height: 40px;
    font-family: 'Yeseva One', cursive;
    
}

.text-highlight{
    color: indigo;
}

.colored-btn{
    text-decoration: none;
    color: white;
    background-color: #660766;
    padding: 10px 30px;
    border-radius: 5px;
}

.top-half p{
    padding: 20px 0;
}

.my-mission{
    width: 100%;
}

.my-mission h1{
    text-align: center;
}

.three-mission{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.mission-item{
    width: 30%;
    padding: 20px;
    background-color: #e1f0ff;
    margin: 20px 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgb(215, 255, 255);
}

.mission-item img{
    width: 50%;
}

#mission-2card{
    background-color: #ffeef1;
}

#mission-3card{
    background-color: #FFF4D6;
}

/*------develop without limits-----*/

.dev-limits{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*------know your global community section------*/

.global-comminuty{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 575px;
}

/*-----contact section-----*/
.contact-section{
    background-color: rgb(243, 227, 255);
    padding: 20px 0;
}
.contact-head{
    text-align: center;
    
}

.contact{
    display: flex;
    justify-content: space-evenly;
    
}

.contact-left{
     padding: 30px 100px; 
}

.contact-right{
    padding: 30px 100px;
}

.contact-right a{
    display: inline-block;
}

.contact-left span{
    font-weight: bold;
}

footer{
    text-align: center;
    background-color: black;
    padding: 20px 0;
    
}

footer h1{
    font-family: 'Yeseva One', cursive;
    color: white;
    
}
footer p{
    color: white;
}